name: CI

on:
  push:
    branches:
      - main
      - v0.1.x
      - v0.2.x
      - v0.3.x
      - v0.4.x
  pull_request:
    branches:
      - main
      - v0.1.x
      - v0.2.x
      - v0.3.x
      - v0.4.x
  schedule:
    - cron: "58 7 * * 3"

jobs:
  fmt:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Rust
        uses: ./.github/actions/setup-rust
        with:
          toolchain: nightly
          components: rustfmt

      - run: cargo fmt --all -- --check

  test:
    strategy:
      fail-fast: false
      matrix:
        toolchain:
          - "1.60"
          - stable
          - nightly
        platform:
          - ubuntu-20.04
          - windows-2022
          - macos-12
        versions:
          - ""
          - "-Zminimal-versions"

    runs-on: ${{ matrix.platform }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Rust
        uses: ./.github/actions/setup-rust
        with:
          toolchain: ${{ matrix.toolchain }}
          components: clippy

      - name: Update lockfile
        env:
          RUSTC_BOOTSTRAP: 1
        run: cargo generate-lockfile ${{ matrix.versions }}

      - run: cargo check --package tzdb --all-targets
      - run: cargo clippy --package tzdb --all-targets -- -D warnings
      - run: cargo test --package tzdb --all-targets -- --show-output
      - run: cargo run --package current-time

  clippy-pedantic:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Rust
        uses: ./.github/actions/setup-rust
        with:
          components: clippy

      - run: cargo clippy --package tzdb --all-targets -- -D clippy::pedantic

  test-shadow:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Rust
        uses: ./.github/actions/setup-rust

      - run: cd test-shadow && cargo run

  test-artichoke:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Rust
        uses: ./.github/actions/setup-rust

      - run: cd test-artichoke && cargo run

  miri:
    name: "Miri"
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Rust
        uses: ./.github/actions/setup-rust
        with:
          toolchain: nightly
          components: miri

      - name: Test
        run: cargo miri test --package tzdb --all-targets -- --show-output

  cross-miri:
    strategy:
      fail-fast: false
      matrix:
        target:
          - aarch64-unknown-linux-gnu
          - i586-unknown-linux-gnu
          - mipsel-unknown-linux-gnu
          - mips64el-unknown-linux-gnuabi64
          - powerpc-unknown-linux-gnu
          - powerpc64-unknown-linux-gnu
          - powerpc64le-unknown-linux-gnu

    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Rust
        uses: ./.github/actions/setup-rust
        with:
          toolchain: nightly
          components: miri
          target: ${{ matrix.target }}

      - name: Test
        run: cargo miri test --package tzdb --no-default-features --features by-name --target ${{ matrix.target }} -- --show-output

  doc:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Rust
        uses: ./.github/actions/setup-rust
        with:
          toolchain: nightly
          components: rust-docs

      - run: cargo doc --package tzdb --all-features --no-deps
        env:
          RUSTDOCFLAGS: -D warnings --cfg docsrs

  audit:
    strategy:
      fail-fast: false
      matrix:
        versions:
          - ""
          - "-Zminimal-versions"

    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Rust
        uses: ./.github/actions/setup-rust

      - name: Update lockfile
        run: cargo generate-lockfile ${{ matrix.versions }}
        env:
          RUSTC_BOOTSTRAP: 1

      - name: Audit
        uses: actions-rs/audit-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

  powerset:
    strategy:
      fail-fast: false
      matrix:
        toolchain:
          - "1.60"
          - stable
          - nightly
        platform:
          - ubuntu-20.04
          # - windows-2022
          # - macos-12
        versions:
          - ""
          - "-Zminimal-versions"

    runs-on: ${{ matrix.platform }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Rust
        uses: ./.github/actions/setup-rust
        with:
          toolchain: ${{ matrix.toolchain }}

      - name: Install hack
        run: cargo hack --version || cargo +stable install cargo-hack --force

      - run: cargo generate-lockfile ${{ matrix.versions }}
        env:
          RUSTC_BOOTSTRAP: 1

      - name: Powerset
        run: cargo hack test --feature-powerset --exclude-features default --ignore-private

  build-cross:
    strategy:
      fail-fast: false
      matrix:
        target:
          - x86_64-unknown-freebsd
          - x86_64-unknown-illumos
          - x86_64-unknown-netbsd
          - x86_64-linux-android
          - i686-linux-android
          - arm-linux-androideabi
          - aarch64-linux-android
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Rust
        uses: ./.github/actions/setup-rust
        with:
          toolchain: stable
          target: ${{ matrix.target }}
          components: clippy

      - run: cross rustc --target ${{ matrix.target }} -- --version || cargo +stable install cross --force
      - run: cross check --target ${{ matrix.target }} --package tzdb --all-targets
      - run: cross clippy --target ${{ matrix.target }} --package tzdb --all-targets -- -D warnings
      - run: cross build --target ${{ matrix.target }} --package tzdb --lib
      - run: cross build --target ${{ matrix.target }} --examples

  build-cross-ios:
    strategy:
      fail-fast: false
      matrix:
        target:
          - aarch64-apple-ios-sim
          - aarch64-apple-ios
          - x86_64-apple-ios
    runs-on: macos-12
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Rust
        uses: ./.github/actions/setup-rust
        with:
          toolchain: stable
          target: ${{ matrix.target }}
          components: clippy

      - run: cross rustc --target ${{ matrix.target }} -- --version || cargo +stable install cross --force
      - run: cross check --target ${{ matrix.target }} --package tzdb --all-targets
      - run: cross clippy --target ${{ matrix.target }} --package tzdb --all-targets -- -D warnings
      - run: cross build --target ${{ matrix.target }} --package tzdb --lib
      - run: cross build --target ${{ matrix.target }} --examples

  package:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Rust
        uses: ./.github/actions/setup-rust
        with:
          toolchain: stable

      - run: cargo package --package tzdb

  devskim:
    name: DevSkim
    runs-on: ubuntu-20.04
    permissions:
      actions: read
      contents: read
      security-events: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Run DevSkim scanner
        uses: microsoft/DevSkim-Action@v1

      - name: Upload DevSkim scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: devskim-results.sarif
